<!-- Publications Section -->
    <section id="publications" class="bg-dark-medium-gray vt-text-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Publications</h2>
                    <h3 class="section-subheading">My latest publications.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-justify">
                    <h3>Fundamentals and Challenges of Generative Adversarial Networks for Image-based Applications</h3>
                    <p>2022 35th SIBGRAPI Conference on Graphics, Patterns and Images (SIBGRAPI) · Dec 26, 2022</p>
                    <p>Abstract: <i>Significant advances in image-based applications have been achieved in recent years, many of which are arguably due to recent developments in 
                                    Generative Adversarial Networks (GANs). Although the continuous improvement in the architectures of GAN has significantly increased the quality 
                                    of synthetic images, this is not without challenges such as training stability and convergence issues, to name a few. In this work, we present 
                                    the fundamentals and notable architectures of GANs, especially for image-based applications. We also discuss relevant issues such as training problems, 
                                    diversity generation, and quality assessment (metrics).</i></p>
                    <p><i class="fa fa-github"></i> <a href="https://github.com/vinyluis/GANs-Tutorial">https://github.com/vinyluis/GANs-Tutorial</a></p>
                </div>
            </div>
        </div>
    </section>