<!-- Publications Section -->
    <section id="publications" class="bg-dark-medium-gray vt-text-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Publications</h2>
                    <h3 class="section-subheading">My latest publications.</h3>
                </div>
            </div>

            {% for publi in site.posts %}
            {% if publi.type == "publication" %}
            <div class="row"></div>
            <div class="col-lg-12 text-justify">
                <h3>{{ publi.title }}</h3>
                <p>{{ publi.journal }}</p>
                <p>Abstract: <i>{{ publi.abstract }}</i></p>
                <p>
                    <i class="fa fa-file"></i>&nbsp;&nbsp;<a href="{{ publi.paper_url }}", target="_blank">Read the paper</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-github"></i>&nbsp;&nbsp;<a href="{{ publi.github_url }}", target="_blank">Github repository</a>
                </p>
            </div>
            </div>
            {% endif %}
            {% endfor %}

        </div>
    </section>